* body {
    padding: 0;
    box-sizing: border-box;
  background-image: url(./imagenes/FONDO.jpg);
  background-size: 100%;
   
  }
  
  /*PORTADA*/

  
  @media (max-width: 730px) {
.portada{
  width: 100%;
}


  .cuenta-regresiva {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 0.8em;
    margin-top: 10%;
}
.cr-time > span {
    font-size: 21px;
    font-weight: bold;
    color: #070707;
    
}
.cr-desc {
    color: #333333;
    font-family: "Alegreya", serif; 
    font-size: 12px;
    
}
.cr-block {
    background: #c9c9c92e;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    background-size: 80%;
}

  


  .h5{
  font-size: 30px;
  text-align: center;
  font-family: 'Dancing Script', cursive;  

  
  }
  .audio{
    width: 35%;
    height: 20px;
    margin-left: 32%;
    background-color:  #ffffff;
    color: #646464bd;
    margin-top: -5%;
    
}
.fraseinicio{
  font-size: 25px;
  text-align: center;
 margin-top: 5%;
 
 font-family: 'Dancing Script', cursive; 
 
}
.tituloh1{
  color: #ffffff;
 font-family: "Alegreya", serif; 
  font-size: 20px;
  text-align: center;
 margin-top: 5%;
 background-color: #252525;
padding-top: 2%;
 }
.almanaque{
  width: 70%;
  margin-left: 17%;
  margin-top: -1%;
 
}
.flor{
  width: 33%;
  margin-left: 35%;
  margin-top: 10%;
}
.fondo{
  width: 100%;
}
.arrow span {
  margin-top: -8%;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 5px solid rgb(234, 234, 234);
  border-right: 5px solid #C8BAA1;
  transform: rotate(45deg);
  margin-left: 48%;
  animation: animate28797 2s infinite;
  }
  
  .arrow span:nth-child(2) {
  animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
  animation-delay: -0.4s;
  }
  
  @keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
  }


.linea4{
  margin-top: -5%;
  color: #dcdcdc;
}





.parrafo2{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #ffffff;
  margin-top: 14%;
  font-weight: 580;
   
}


.florblanca{
width: 35%;
margin-left: 70%;
margin-top: -17%;
}

.principal{
  width: 90%;
  margin-left: 5%;
  border-radius: 5%;
  margin-top: 5%;
}

.parrafo3{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #242323;
 
  font-weight: 550;
}
.parrafo4{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 19px;
   color: #3c578d;
   font-weight: 1000;
   margin-top: 15%;
   
}
.copas{
  width: 9%;
  margin-left: 46%;
}
.parrafoD{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 17px;
   color: #272727;
   font-weight: 500;
  
   
}
.primary {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color:#3c578d ;
  margin-left: 36%;
  margin-top: 5%;
  font-family: 'Julius Sans One', sans-serif;
  background-image: url(./imagenes/papelitos.gif);
  background-size: 55%;
}

.css-button-arrow--sand {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3c578d;
  margin-left: 36%;
  margin-top: 5%;
  font-family: 'Julius Sans One', sans-serif;
  background-image: url(./imagenes/papelitos.gif);
  background-size: 55%;
}

.cajacarusel img{
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  
}

.css-button-arrow--sand:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.css-button-arrow--sand:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--sand:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.parrafo5{
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #414141;
  font-weight: 550;
  margin-top: 5%;
  text-align: center;
 
}

.parrafo6{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 19px;
   color: #3c578d;
   font-weight: 1000;
   margin-top: 15%;
   
}
.parrafo7{
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #414141;
  font-weight: 550;
  margin-top: 3%;
  text-align: center;
}

.parrafo8{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 19px;
   color: #3c578d;
   font-weight: 1000;
 margin-top: 10%;
}
.parrafo9{
    font-family: 'Dancing Script', cursive; 
    font-size: 24px;
    color: #414141;
    font-weight: 550;
    margin-top: 5%;
    text-align: center;
   
}
.parrafo10{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 19px;
   color: #3c578d;
   font-weight: 1000;
 margin-top: 25%;
}
.parrafo11{
    font-family: 'Dancing Script', cursive; 
    font-size: 24px;
    color: #414141;
    font-weight: 550;
    margin-top: 5%;
    text-align: center;
   
  
}

.parrafo13{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 19px;
   color: #3c578d;
   font-weight: 1000;
margin-top: 15%;
}
.percha{
  width: 10%;
  margin-left: 46%;
}
.regalo{
  width: 8%;
  margin-left: 46%;
}

.galeria{
  width: 8%;
  margin-left: 46%;
  margin-top: 2%;
}
.coral-1{
  width: 25%;
  margin-left: -50%;
  margin-top: -2%;
}

.andres{
  width: 25%;
  margin-left: -50%;
}
.chat{
  width:20%;
    margin-left: 40%;
    margin-top: -5%;
  }

.linea-1{
  width: 60%;
  color: #414141;
  margin-left: 20%;
}
  .chat2{
    width:20%;
      margin-left: 40%;
      margin-top: -5%;
    }
  .a{
    text-decoration: none;
  }
.cardimg{
  width: 60%;
  height: 60%;
  margin-left: 20%;
 
}
.final{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 30px;
  color: #303030;
  font-weight: 580;
  margin-top: 15%;
}
.coral{
  width: 45%;
  margin-top: 8%;
  margin-left: 28%;
}
.florfinal{
  width: 40%;
  margin-top: 2%;
  margin-left: 31%;
}


.carousel-inner img{
  width: 80%;
  border-radius: 5%;
  margin-top: 10%;
}
.carousel-innerdos img{
  width: 80%;
  border-radius: 5%;
  margin-top: 10%;
}











.tecla {
margin-top: -49%;
 margin-left: 50%;
}


.box__copyright {
  max-width: 1200px;
  padding: 18px 7px;
  text-align: center;
  margin-top: 20%;
  background-color: #ffffff;
  font-size: 100%;
}


.box__copyright p {
  margin-top: -10px;
  color: #c3b1b1;
  font-size: 12px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #b8a551;
}
.logo{
  width: 12%;
  margin-left: 70%;
  margin-top: -13%;

}


 }